---
import Layout from '@/layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    
        <article class="max-w-3xl mx-auto">
          <h1 class="text-4xl font-bold mb-4">El campeonato definitivo de Perro sanchez y la petanca</h1>
       
          <img 
            src="/petanca.png" 
            alt="Partida de petanca" 
            class="w-full max-w-[700px] h-[300px] object-contain rounded mb-20 mt-20 mx-auto"
          />

        
          <div class="prose prose-lg mb-6" >
              <p>La petanca: tradición, precisión y estrategia.
              La petanca es mucho más que un simple juego de bolas. Nacida en el sur de Francia a principios del siglo XX, esta disciplina ha trascendido fronteras y generaciones, convirtiéndose en un símbolo de convivencia, precisión y estrategia.
              Se juega normalmente al aire libre, en terrenos de grava o arena, y enfrenta a dos jugadores o equipos. El objetivo es lanzar bolas metálicas lo más cerca posible de una bola más pequeña llamada *boliche* o *cochonet*. Aunque las reglas son simples, la petanca exige un alto grado de concentración y destreza para dominar los lanzamientos, bloquear al adversario y aprovechar cada jugada.
              En muchos países, especialmente en Europa y América Latina, la petanca es una actividad social y competitiva a la vez. Asociaciones y clubes organizan torneos regionales e internacionales que reúnen a jugadores de todas las edades.
              Más allá de la competencia, la petanca ofrece beneficios físicos y mentales: mejora la coordinación, promueve el ejercicio suave y fomenta la paciencia y el trabajo en equipo.
              Ya sea bajo el sol mediterráneo o en una plaza de barrio, la petanca continúa siendo un juego que une a las personas en torno a la diversión y el respeto por la tradición.
              </p>
          </div>
          <div class="text-sm text-gray-600 border-t pt-4">
            <p><strong>Autor:</strong> Pepe el de los palotes</p>
            <p><strong>Publicado el:</strong> 13/05/2025</p>
          </div>
        </article>
    
</Layout>
