@import "tailwindcss";

@theme{
  /* Colores originales */
  --color-primary: #0330ac; /* Int. Klein Blue */
  --color-secondary: #a31621;   /* Madder */
  --color-accent: #ffbe0b;    /* Amber */
  --color-light: #fcf7f8;     /* Snow */
  --color-dark: #2a2b2a;      /* Jet */

}